%h1 Who would you like to babble with?

- @users.each do |user|
  .user_box
    = link_to user.username, user
    %br
    = image_tag user.image, :class => "user_index_thumb"
    %br
    = user.address
    %br
    %br
    Let's Practice:
    - desired_languages = user.desired_languages.map { |language| language.name }
      -desired_languages.each do |language|
      %li= language