// .front_image {
//   max-height: 500px;
//   max-width: 500px;
//   margin: 0 auto;
//   display: block;
// }
body {
  background: url(/images/babel_full.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#search {
 background-color:rgba(0,0,0,0.5);
 color: white;
 margin: 20% auto 0 auto;
 padding: 20px;
 text-align: center;
 width: 40%
}
 #tagline {
  // font-size: 18px;
 }
