.scrollable_list {
  // border:1px solid black;
  height:200px;
  width:170px;
  overflow:auto;
}

body {
  background-color: #63AFD0;
  color: white;
  text-align: center;
}

.user_index_thumb {
  max-height: 100px;
  max-width: 100px;
}

.user_box {
  border: 1px solid black;
  width: 160px;
  height: 200px;
  float: left;
  padding: 0 5px;
  text-align: center;
  overflow: hidden;
  color: white;
  background-color:rgba(0,0,0,0.5);
}
.first_row {
  background-color:rgba(0,0,0,0.5);
  // border: 1px solid black;
  overflow: hidden;
}
.edit_box {
  text-align: left;
  float: left;
  padding:0 50px;
}
.text_box {
  margin: 0 auto;
  text-align: center;
  background-color:rgba(0,0,0,0.5);
}
input[type="text"], textarea {
  color: white;
  background-color : rgba(0,0,0,0.3);
}

.profile_text_box {
  margin-left: 15%;
  padding: 5px;
  text-align: left;
  background-color:rgba(0,0,0,0.5);
  float: left;
  width: 30%;
}
.profile_image {
  max-width: 30%;
  margin-right: 15%;
}

.sign_up_box {
  margin: 0 auto;
  text-align: center;
  background-color:rgba(0,0,0,0.5);
  width: 40%;
}
input[type="password"], textarea {
  color: white;
  background-color : rgba(0,0,0,0.3);
}
